body{
    background-color: black;
    padding-bottom: 50px;
    padding-top: 10px;
}

p{
    color: white;
    font-size: 1.2em;
    margin-bottom: 35px;
}

h1{
    color: white;
    text-align: center; 
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top:80px;
    
}

h2{
    color: white;
    font-family: cursive;
}

h3{
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    word-spacing: 5px;
    
}

h4{
    color: burlywood;
}


nav{
    background-color: cornflowerblue;
    width: 100%;
    top: 0px;
    position: sticky;
    background-position: top;
    font-size: xx-large;
    font-weight: bold;
    text-align: center;
    height: 50px;
}

#menu{
    color:black;
    margin: 30px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-decoration: none;
}

#menu:hover {
    background-color: black;
    color: cornflowerblue;
}

img{
    margin: 20px;
    margin-bottom: 70px;
    float: right;
    right: 5px;
    border-radius: 35px;
}
    
iframe{
    left: 5px;
    margin: 15px;
    bottom: 20px;
    border-radius: 35px;
}

footer{
    background-color: cornflowerblue;
    color: black;
    font-size: large;
    bottom: 0px;
    width: 100%;
    height: 30px;
    font-weight: bold;
    text-align: center;
    position: fixed;
    vertical-align: middle;
    word-spacing: 5px;
}

:any-link{
    color:rgb(47, 189, 255);
}

:visited{
    color:rgb(160, 58, 255)
}

:any-link:hover{
    color: rgb(160, 58, 255);
}

ul{
    color: rgb(253, 253, 253);
    font-size: large;
    margin-top: 5px;
    margin-right: 20px;
    margin-left: 20px;
    padding: 20px;
    line-height: 40px;
    

}


th,td{
    border: 2px solid cornflowerblue;
    padding: 5px;
}

th{
    color: black;
    background-color: cornflowerblue;
    font-size: x-large
}

tr:hover{
    background-color: rgb(94, 91, 91)
}

table{
    border: 5px solid cornflowerblue;
    border-collapse: collapse;
    color: white;
    width: 100%;
    height: 200px;
    text-align: center;
    font-size: large;
}



.top{
    float: left;
    font-size: x-large;
    color: lightsalmon;
}

.map{
    width: 80%;
    float: none;
}

.ul1{
    float: left;
}



